body {
    background-color: #090C02;
    min-height: 100vh;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.footer-container {
    border-radius: 8px;
    background-color: #DDD0C8;
    box-shadow: -7px 8px 7px 0px #01110182;
    flex-shrink: 0;
    margin-top: 450px;
    margin-left: 25px;
    margin-right: 25px;
}

.header-content {
    border-radius: 8px;
    background-color: #DDD0C8;
    margin: 1vw;
    box-shadow: -7px 8px 7px 0px #01110182;
    color: rgb(214, 207, 180);
    position: relative;
    left: 20px;
    top: 10px;
    z-index: 1;
    justify-content: space-between;
    display: block;
    position: absolute;
}

.name {
    color: rgb(0, 0, 0);
    padding: 8px;
    font-size: 30px;
    font-family: "Playfair Display";
    font-weight: 600;
    text-decoration: underline double;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 0;
}

.title {
    color: rgb(0, 0, 0);
    padding: 8px;
    font-size: 20px;
    font-family: "Poppins";
    font-weight: 600;
    text-decoration: underline double;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 20px;
}

.about {
    background-color: #A72608;
    margin: 1vw;
    box-shadow: -7px 8px 7px 0px #01110182;
    border-radius: 8px;
    padding: 10px;
    font-family: "Poppins";
    font-size: 18px;
    margin-left: 450px;
}


.navigation-container {
    gap: 16px;
    flex-direction: row;
    padding: 5px;
    justify-content: center;
    font-family: "Poppins";
    margin-bottom: 0px;
    align-items: center;
    display: block;
    width: 100%;
    height: 100%;
}

.headshot {
    width: 300px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40%;
    margin-right: 20px;
    padding: 30px;
}

.nav {
    display: flex;
    color: rgb(0, 0, 0);
    font-size: larger;
    flex-direction: column;
    align-items: flex-start;
    left: 900px;
    top: 10px;
    display: flex;
    width: 100%;
    height: 100%;
}

.nav:hover {
    color: #A72608;
}

.contact-container {
    display: flex;
    flex-direction: row;
    text-align: center;
    padding: 100px;
    justify-content: center;
    font-family: "Poppins";
    margin-bottom: 0px;
    font-size: 30px;
    background-color: #A72608;
    box-shadow: 0 0 10px rgba(238, 191, 191, 0.5);
    border-radius: 6px;
    padding: 30px;
    margin-top: 40px;
    margin-right: 20px;
    margin-left: 500px;
}

.submit-btn {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    font-family: "Poppins";
    font-weight: 600;
    border-radius: 5px;
    size: 50px;
}


.resume {
    background-color: #A72608;
    margin-left: 450px;
    box-shadow: 0 0 10px rgba(238, 191, 191, 0.5);
    border-radius: 6px;
    padding: 30px;
    margin-top: 250px;
    margin-right: 20px;
}

.box {
    margin-bottom: 10px;
    margin-left: 8px;
    width: (70%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: rgb(255, 255, 255);
}

.project-container {
    box-shadow: -7px 8px 7px 0px #01110182;
    border-radius: 8px;
    justify-content: center;
    margin-left: 250px;
}


.project-image {
    width: 500px;
    height: auto;
    justify-content: center;
    padding: 10px;
    border-radius: 30px;
    display: flex;

}

.project.link {
    color: rgb(0, 0, 0);
    padding: 8px;
    font-size: 40px;
    font-family: "Playfair Display";
    font-weight: 600;
    text-decoration: underline double;
    text-align: center;
}

.icon {
    width: 50px;
    height: auto;
    justify-content: center;
    padding: 10px;
    border-radius: 30px;
}

@media (max-width: 768px) {
    .header-content,
    .about,
    .contact-container,
    .resume,
    .project-container {
        margin-left: 0;
    }

    .about,
    .contact-container,
    .resume,
    .project-container {
        margin-top: 900px;
    }
    
    .nav {
        align-items: center;
        left: auto;
    }
}